* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #0b2434;
}
main {
	color: #2b283a;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}
h1 {
	font-size: 3rem;
	padding-top: 1rem;
}
h2 {
	margin-top: 2rem;
}
h3 {
	margin-top: 10%;
}

.app-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: #ebebeb;
	max-width: 600px;
	border-radius: 15px;
	max-height: 800px;
}

.tenzies-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10%;
}
.dice {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 70px;
	height: 70px;
	margin: 20px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	cursor: pointer;
	font-size: 2rem;
	font-weight: 700;
}
.button-wrapper {
	width: 100%;
}
.roll-btn {
	background-color: #5035ff;
	padding: 1rem 4rem;
	margin: 2rem 0;
	border-radius: 6px;
	color: white;
	font-size: 2rem;
	font-family: "Karla", sans-serif;
	cursor: pointer;
}
.score-container {
	padding: 1rem;
	width: 50%;
	text-align: left;
	font-size: 1.5rem;
	font-weight: bold;
}
.time-container {
	width: 50%;
	padding: 1rem;
	text-align: right;
	font-size: 1.5rem;
	font-weight: bold;
}
